.codacy/**
.github/**
.vscode/**
.vscode-test/**
Tests/**
dist/**
node_modules/**
.editorconfig
.gitattributes
.gitignore
.markdownlint-cli2.yaml
.pre-commit-config.yaml
.vscodeignore
cspell.json
coverage.xml
Get-ExtensionInfo.ps1
package-lock.json
test-results.xml
vsc-extension-quickstart.md
images/PSPreworkout-Animated-Logo-170.png
images/PSPreworkout-Extension-Pack-Banner.png
images/PSPreworkout-Extension-Pack-Logo-120.png
images/PSPreworkout-Extension-Pack-Logo.png
